{% extends "./base.html" %}
{% block title %}Mes articles{% endblock %}
{% block addCss %}<link rel="stylesheet" href="/static/css/articles.css" type="text/css">{% endblock %}
{% block content %}

<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Liste des articles</h1>
                <hr>
            </div>
        </div>
    </header>

    <section class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action row">
              
          {% for article in derniers_articles %}
              <div class="article col-sm-6 col-sm-offset-3">
                <h3><a href="{% url "blog.views.view_article" article.id %}">{{ article.titre }}</a></h3>
                  <p>{{ article.contenu|truncatewords_html:80 }}</p>

              </div>
          {% empty %}
              <p>Aucun article.</p>
          {% endfor %}
              
              
          </div>
        </div>
    </section>

{% endblock %}