<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/static/css/style.css" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=fr">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <title>{% block title %}Mon blog sur les nouvelles techno{% endblock %}</title>
</head>
<body>
<header>NTech</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/article/">Blog</a></li>
            <li><a href="/contact/">Contact</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; NTech</footer>
</body>
</html>